<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <settings>-->
<!--        <setting name="cacheEnabled" value="true" />-->
<!--        <setting name="logImpl" value="JDK_LOGGING"/>-->
<!--    </settings>-->
<!--    <typeAliases>-->
<!--        <package name="ProjectInstances.MyBatis.student"/>-->
<!--    </typeAliases>-->
    <environments default="development2">
        <environment id="development2">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
<!--                <property name="url" value="jdbc:mysql://geoffyli.mysql.rds.aliyuncs.com:3306/user"/>-->
                <property name="url" value="jdbc:mysql://localhost:3306/user"/>
<!--                <property name="username" value="k_administrator"/>-->
                <property name="username" value="root"/>
<!--                <property name="password" value="Kk123456"/>-->
                <property name="password" value="lmq1226lmq"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="KarChat/Server/DataBase/Mapper/AddFriend.xml"/>
        <mapper class="KarChat.Server.DataBase.Mapper.Login"/>
        <mapper class="KarChat.Server.DataBase.Mapper.Chat"/>
<!--        <mapper class="KarChat.Server.DataBase.Mapper.AddFriend"/>-->
<!--        <package name="KarChat.Server.DataBase.Mapper"/>-->
    </mappers>
</configuration>